flows.json
[{"id":"e6cc9656.491458","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9cc88f28.516b","type":"group","z":"e6cc9656.491458","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["326b6f52.caeb9"],"x":994,"y":119,"w":272,"h":82},{"id":"d5051ed1.067df","type":"group","z":"e6cc9656.491458","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c16fa529.0aeaa8"],"x":994,"y":199,"w":252,"h":82},{"id":"bf714c5b.66566","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":180,"wires":[["b7a3f3dc.84665"]]},{"id":"b7a3f3dc.84665","type":"function","z":"e6cc9656.491458","name":"Pre Prediction","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["ddcf93aa.5c814"]]},{"id":"ddcf93aa.5c814","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["a443179c.ba42b8"]]},{"id":"a443179c.ba42b8","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["326b6f52.caeb9","62658c9f.bf9bb4"]]},{"id":"845d74a.375ad88","type":"function","z":"e6cc9656.491458","name":"","func":"global.set(\"week\",msg.payload.W)\nglobal.set(\"center_id\",msg.payload.CI)\nglobal.set(\"meal_id\",msg.payload.MI)\nglobal.set(\"checkout_price\",msg.payload.COP)\nglobal.set(\"base_price\",msg.payload.BP)\nglobal.set(\"emailer_for_promotion\",msg.payload.EFP)\nglobal.set(\"homepage_featured\",msg.payload.HF)\nvar apikey=\"VQMcBuud0FI_kgnc0_u8nzd2wMsbXcp0yXHfBty5VXdd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":300,"wires":[["bf714c5b.66566","fab79471.1b3718","47015ca9.4fef94","8dfb7661.0dc568","a5420b05.6222c8","3ce7a468.0200bc","d27e7e97.e4bbd","54f0e975.7d9908","850a7c07.8446e","1f9ff59d.aa706a","aa3adcc1.d6ebc"]]},{"id":"4fe6b49f.2463fc","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 4","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+4),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["262fe6c3.f31dba"]]},{"id":"262fe6c3.f31dba","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["563dd255.1a34bc"]]},{"id":"90ffb5f2.dca6c8","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 1","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+1),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["b4afd405.4b0918"]]},{"id":"b4afd405.4b0918","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["7019baa9.2378f4"]]},{"id":"7019baa9.2378f4","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["c4efa529.fdee48","e7bb9082.7c18f"]]},{"id":"e75e9447.e9d2b8","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 2","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+2),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["36897b44.65b2e4"]]},{"id":"36897b44.65b2e4","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":419,"wires":[["9c6f169b.d4b3d8"]]},{"id":"9c6f169b.d4b3d8","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["60d09c87.a8a0d4","fba524f9.a13178"]]},{"id":"bf84f62b.061848","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 3","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+3),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["6e8eaa9b.5c2934"]]},{"id":"6e8eaa9b.5c2934","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["128b7f87.f00bd"]]},{"id":"128b7f87.f00bd","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["8e75fc2a.719da","f5afb901.090678"]]},{"id":"563dd255.1a34bc","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["c16fa529.0aeaa8","25d48bcd.63c724"]]},{"id":"6b4ae060.8d94a","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 5 ","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+5),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["72b04ca0.1c1014"]]},{"id":"72b04ca0.1c1014","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":580,"wires":[["a04ee28.f29712"]]},{"id":"a04ee28.f29712","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["6b6e4120.3ecd1","3d8ad0e7.22f01"]]},{"id":"e48d9538.8d8a18","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 6","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+6),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["263c6392.44a37c"]]},{"id":"263c6392.44a37c","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["19cb01b7.db618e"]]},{"id":"19cb01b7.db618e","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["eaa3a178.a3945","86f904a4.194418"]]},{"id":"5d3e12c6.35a01c","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 7","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+7),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["995f4dbb.bb99f"]]},{"id":"995f4dbb.bb99f","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":740,"wires":[["77295d67.1996b4"]]},{"id":"77295d67.1996b4","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["98e06d3e.b9729","813043db.546fd"]]},{"id":"f78e2e33.f9056","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 8","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+8),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["7e74d1fe.2950b"]]},{"id":"7e74d1fe.2950b","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":820,"wires":[["15adc139.99465f"]]},{"id":"15adc139.99465f","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["4495e924.114e88","4ddf1ca8.d09de4"]]},{"id":"19730ee6.3ae481","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 9","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+9),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["4e735486.0cc70c"]]},{"id":"4e735486.0cc70c","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["eff6d171.fd4a3"]]},{"id":"eff6d171.fd4a3","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["bb928f65.f56a2","bc91fe87.713cd"]]},{"id":"5d8d71f8.b3bc7","type":"function","z":"e6cc9656.491458","name":"Pre Prediction + 10","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+10),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["2bc0bb34.4ac464"]]},{"id":"2bc0bb34.4ac464","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":980,"wires":[["e9fdb93f.7693f8"]]},{"id":"e9fdb93f.7693f8","type":"function","z":"e6cc9656.491458","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["d27fc7ab.26ebf8","afc73f82.a29c9"]]},{"id":"fab79471.1b3718","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":260,"wires":[["4fe6b49f.2463fc"]]},{"id":"47015ca9.4fef94","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["90ffb5f2.dca6c8"]]},{"id":"8dfb7661.0dc568","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":166,"y":423,"wires":[["e75e9447.e9d2b8"]]},{"id":"aa3adcc1.d6ebc","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":500,"wires":[["bf84f62b.061848"]]},{"id":"a5420b05.6222c8","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":580,"wires":[["6b4ae060.8d94a"]]},{"id":"3ce7a468.0200bc","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":660,"wires":[["e48d9538.8d8a18"]]},{"id":"d27e7e97.e4bbd","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":740,"wires":[["5d3e12c6.35a01c"]]},{"id":"54f0e975.7d9908","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":820,"wires":[["f78e2e33.f9056"]]},{"id":"850a7c07.8446e","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":900,"wires":[["19730ee6.3ae481"]]},{"id":"1f9ff59d.aa706a","type":"http request","z":"e6cc9656.491458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":980,"wires":[["5d8d71f8.b3bc7"]]},{"id":"62658c9f.bf9bb4","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"e7bb9082.7c18f","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":360,"wires":[]},{"id":"fba524f9.a13178","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":440,"wires":[]},{"id":"f5afb901.090678","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":520,"wires":[]},{"id":"25d48bcd.63c724","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":280,"wires":[]},{"id":"3d8ad0e7.22f01","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":600,"wires":[]},{"id":"86f904a4.194418","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":680,"wires":[]},{"id":"98e06d3e.b9729","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":760,"wires":[]},{"id":"4495e924.114e88","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":840,"wires":[]},{"id":"bc91fe87.713cd","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":920,"wires":[]},{"id":"afc73f82.a29c9","type":"debug","z":"e6cc9656.491458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1000,"wires":[]},{"id":"89946e3.236329","type":"ui_form","z":"e6cc9656.491458","name":"","label":"","group":"e60a0898.1e4248","order":2,"width":0,"height":0,"options":[{"label":"week","value":"W","type":"number","required":true,"rows":null},{"label":"center_id","value":"CI","type":"number","required":true,"rows":null},{"label":"meal_id","value":"MI","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"COP","type":"number","required":true,"rows":null},{"label":"base_price","value":"BP","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"EFP","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"HF","type":"number","required":true,"rows":null}],"formValue":{"W":"","CI":"","MI":"","COP":"","BP":"","EFP":"","HF":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":50,"y":380,"wires":[["845d74a.375ad88"]]},{"id":"326b6f52.caeb9","type":"ui_text","z":"e6cc9656.491458","g":"9cc88f28.516b","group":"e60a0898.1e4248","order":1,"width":6,"height":2,"name":"","label":"Prediction for given week:","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":160,"wires":[]},{"id":"c4efa529.fdee48","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":1,"width":0,"height":0,"name":"","label":"Prediction for 1st week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"60d09c87.a8a0d4","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":2,"width":0,"height":0,"name":"","label":"Prediction for 2nd week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":400,"wires":[]},{"id":"8e75fc2a.719da","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":3,"width":0,"height":0,"name":"","label":"Prediction for 3rd week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":480,"wires":[]},{"id":"c16fa529.0aeaa8","type":"ui_text","z":"e6cc9656.491458","g":"d5051ed1.067df","group":"e60a0898.1e4248","order":4,"width":0,"height":0,"name":"","label":"Prediction for 4th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":240,"wires":[]},{"id":"6b6e4120.3ecd1","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":5,"width":0,"height":0,"name":"","label":"Prediction for 5th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":560,"wires":[]},{"id":"eaa3a178.a3945","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":6,"width":0,"height":0,"name":"","label":"Prediction for 6th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":640,"wires":[]},{"id":"813043db.546fd","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":7,"width":0,"height":0,"name":"","label":"Prediction for 7th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":720,"wires":[]},{"id":"4ddf1ca8.d09de4","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":8,"width":0,"height":0,"name":"","label":"Prediction for 8th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":800,"wires":[]},{"id":"bb928f65.f56a2","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":9,"width":0,"height":0,"name":"","label":"Prediction for 9th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":880,"wires":[]},{"id":"d27fc7ab.26ebf8","type":"ui_text","z":"e6cc9656.491458","group":"e60a0898.1e4248","order":10,"width":0,"height":0,"name":"","label":"Prediction for 10th week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":960,"wires":[]},{"id":"e60a0898.1e4248","type":"ui_group","z":"","name":"Default","tab":"930fe8d0.9a4818","order":1,"disp":true,"width":"6","collapse":false},{"id":"930fe8d0.9a4818","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]